<div class="mt-3 ml-5">

    <form method="POST">
    <div class="form-group">
        <label for="search">Nhap tu khoa</label>
        <input type="text" class="form-control" name="q" id="search"placeholder="Input key search...">
    </div>
    
    <button type="submit" class="btn btn-primary">Search</button>
    </form>

</div>